html,
body {
    width: 100%;
    height: 100%;
    font-family: PingFangSC-Regular, sans-serif;
    background-color: #f5f5f5;
}

header {
    width: 100%;
    height: 1.173333rem
        /* 88/75 */
    ;
    background-color: #fff;
    font-size: .48rem;
    /* 36/75 */
    color: #333;
    font-weight: bold;
    text-align: center;
    line-height: 1.173333rem
        /* 88/75 */
    ;
}

.container {
    background-color: #fff;
}

.container>div {
    min-height: 1.173333rem
        /* 88/75 */
    ;
    padding: 0 .4rem;
    /* 30/75 */
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.container>.title {
    justify-content: space-between;
}

.container>.title>.left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: .346667rem
        /* 26/75 */
    ;
    color: #333;
}

.container>.title>.right {
    font-size: .32rem
        /* 24/75 */
    ;
    color: #999;
}

.container>.title>.left>img {
    width: .746667rem;
    /* 56/75 */
    height: .746667rem;
    /* 56/75 */
    margin-right: .266667rem
        /* 20/75 */
}

.container>.name {
    font-size: .32rem
        /* 24/75 */
    ;
    color: #666;

}

.container>.price {
    font-size: .32rem
        /* 24/75 */
    ;
    color: #999;
    justify-content: space-between;
}

.container>.price>.right {
    color: #fb352a;
}

.container>.scan {
    font-size: .32rem
        /* 24/75 */
    ;
    color: #666;
    justify-content: space-between;
    background-color: #f5f5f5;
}

.container>.scan>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container>.scan>div>img {
    width: .426667rem
        /* 32/75 */
    ;
    height: .4rem
        /* 30/75 */
    ;
    margin-right: .133333rem
        /* 10/75 */
}

.container>.info {
    font-size: .346667rem
        /* 26/75 */
    ;
    color: #999;
    border-bottom: .013333rem
        /* 1/75 */
        solid #dcdcdc;
}

.container>.info>.label {
    width: 2.4rem
        /* 180/75 */
}

.container>.info>.val {
    color: #666;
    width: 6.666667rem
        /* 500/75 */
    ;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    color: #fff;
    font-size: .4rem
        /* 30/75 */
    ;
    background-color: #f03932;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.173333rem
        /* 88/75 */
    ;
}

/* 
footer {
    margin-top: .266667rem
    ;
    background-color: #fff;
}

footer>.title {
    font-size: .293333rem
    ;
    color: #fb352a;
    border-left: .066667rem
        solid #fb352a;
    height: 1.173333rem
    ;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: .266667rem
    ;
    border-bottom: .013333rem
        solid #dcdcdc;
}

footer>.title>.infos>.info>.baojia {
    position: absolute;
    top: 0;
    left: 0;
    width: .706667rem
    ;
    height: .653333rem
    ;
} */